body {
  background-image: url('OHMYGODITSABANANA.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full screen height */
  margin: 0;

  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 88, 180, 0.50);

}

#signup-container {
  position: relative;
  z-index: 2;
  width: 350px;          /* make it bigger */
  margin: 0 auto;        /* centers it horizontally */
  padding: 20px;         /* space inside the box */
  background: #2d58b4;   /* or whatever color you want */
  border-radius: 12px;   /* optional: rounded corners */
}

#sign-in-hyperlink {
background-color: yellow
}
